.Justify-content {
    justify-content: space-between;
    display: flex;
}

.Container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px 200px 10px 200px;
}

.Numbers {
    color: rgb(168, 30, 83);
    font-size: 25px;
}

.Text {
    font-size: 15px;
}

/* CSS */
.Reset {
  background-color: rgb(168, 30, 83);
  border-radius: 10px;
  border: 0;
  box-shadow: rgba(1,60,136,.5) 0 -1px 3px 0 inset,rgba(0,44,97,.1) 0 3px 6px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inherit;
  font-family: "Space Grotesk",-apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 20px 0;
  min-height: 56px;
  min-width: 120px;
  padding: 16px 20px;
  justify-content: center;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

.Reset:hover {
  background-color: rgb(142, 23, 69);
  transform: translateY(-2px);
}

/* @media (min-width: 768px) {
  .Reset {
    padding: 16px 44px;
    min-width: 150px;
  }
} */